{% extends "layout.html.twig" %}
{% set adminMenu = true %}

{% block title %}Administration{% endblock %}

{% block content %}
<h2 class="text-center">{{ block('title') }}</h2>
{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success">
    {{ flashMessage }}
</div>
{% endfor %}
<div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <ul class="nav nav-tabs nav-justified">
            <li class="active"><a href="#articles" data-toggle="tab">Chapitres</a></li>
            <li><a href="#comments" data-toggle="tab">Commentaires</a></li>
            <li><a href="#users" data-toggle="tab">Utilisateurs</a></li>
        </ul>
    </div>
</div>
<div class="tab-content">
    <div class="tab-pane fade in active adminTable" id="articles">
        {% if articles %}
        <div class="table-responsive">
            <table class="table table-hover table-condensed">
                <thead class = entete>
                    <tr>
                        <th>Titre</th>
                        <th>Contenu</th>
                        <th></th>  <!-- Actions column -->
                    </tr>
                </thead>
                {% for article in articles %}
                <tr>
                    <td><a class="articleTitle" href="{{ path('article', { 'id': article.id }) }}">{{ article.title }}</a></td>
                    <td>{{ article.content | truncate(60) }}</td>
                    <td>
                        <a href="{{ path('admin_article_edit', { 'id': article.id }) }}" class="btn btn-info btn-xs" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                        <button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#articleDialog{{ article.id }}"><span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <div class="modal fade" id="articleDialog{{ article.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">Attention</h4>
                                    </div>
                                    <div class="modal-body">
                                        Voulez vous réellement supprimer ce chapitre ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                        <a href="{{ path('admin_article_delete', { 'id': article.id }) }}" class="btn btn-danger">Valider</a>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% else %}
        <div class="alert alert-warning">Pas de chapitre</div>
        {% endif %}
        <a href="{{ path('admin_article_add') }}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Ajouter chapitre</button></a>
    </div>
    <div class="tab-pane fade adminTable" id="comments">
        {% if comments %}
        <h3> Commentaires signalés :<br><br>   </h3>
        <div class="table-responsive">
            {% if signalComment == false %}
            <p> Il n'y a pas de commentaires signalés </p>
            {% else %}
                <table class="table table-hover table-condensed">
                    <thead class = entete>
                    <tr>
                        <th>Chapitre</th>
                        <th>Auteur</th>
                        <th>Contenu</th>
                        <th>Actions</th>  <!-- Actions column -->
                    </tr>
                    </thead>
                    {% for comment in comments %}
                    {% if comment.signal != NULL %}
                        <tr>
                            <td><a class="articleTitle" href="{{ path('article', { 'id': comment.article.id }) }}">{{ comment.article.title }}</a></td>
                            <td>{{ comment.author }}</td>
                            <td>{{ comment.content | truncate(60) }}</td>
                            <td>
                                <a href="{{path('admin_comment_edit', { 'id': comment.id }) }}" class="btn btn-info btn-xs" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                                <button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#commentDialog{{ comment.id }}"><span class="glyphicon glyphicon-remove"></span>
                                </button>
                                <button type="button" class="btn btn-success btn-xs" title="Valid" data-toggle="modal" data-target="#commentDialogValid{{ comment.id }}"><span class="glyphicon glyphicon-ok"></span>
                                </button>
                                <div class="modal fade" id="commentDialog{{ comment.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title" id="myModalLabel">Attention</h4>
                                            </div>
                                            <div class="modal-body">
                                                Voulez vous réellement supprimer ce commentaire ?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                                <a href="{{ path('admin_comment_delete', { 'id': comment.id }) }}" class="btn btn-danger">Valider</a>
                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div>
                                <div class="modal fade" id="commentDialogValid{{ comment.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title" id="myModalLabel"> Validation</h4>
                                            </div>
                                            <div class="modal-body">
                                                Voulez vous vraiment valider ce commentaire?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                                <a href="{{ path('admin_comment_valid', { 'id': comment.id }) }}"> <button type="button" class="btn btn-success"> Vailder </button>  </a>
                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div><!-- /.modal --><!-- /.modal -->
                            </td>
                        </tr>
                    {% endif %}
                    {% endfor %}
                </table>
            {% endif %}
        </div>
        <h3> Tous les commentaires : <br><br>   </h3>
        <div class="table-responsive">
            <table class="table table-hover table-condensed">
                <thead class = entete>
                <tr>
                    <th>Chapitre</th>
                    <th>Auteur</th>
                    <th>Contenu</th>
                    <th>Actions</th>  <!-- Actions column -->
                </tr>
                </thead>
                {% for comment in comments %}
                <tr>
                    <td><a class="articleTitle" href="{{ path('article', { 'id': comment.article.id }) }}">{{ comment.article.title }}</a></td>
                    <td>{{ comment.author }}</td>
                    <td>{{ comment.content | truncate(60) }}</td>
                    <td>
                        <a href="{{path('admin_comment_edit', { 'id': comment.id }) }}" class="btn btn-info btn-xs" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                        <button type="button" class="btn btn-danger btn-xs delete" title="Delete" data-toggle="modal" data-target="#commentDialog{{ comment.id }}"><span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <div class="modal fade" id="commentDialog{{ comment.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">Attention</h4>
                                    </div>
                                    <div class="modal-body">
                                        Voulez vous réellement supprimer ce commentaire ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                        <a href="{{ path('admin_comment_delete', { 'id': comment.id }) }}" class="btn btn-danger">Valider</a>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% else %}
        <div class="alert alert-warning">Pas de commentaire</div>
        {% endif %}
    </div>
    <div class="tab-pane fade adminTable" id="users">
        {% if users %}
        <div class="table-responsive">
            <table class="table table-hover table-condensed">
                <thead class = entete>
                    <tr>
                        <th>Nom</th>
                        <th>Role</th>
                        <th></th>  <!-- Actions column -->
                    </tr>
                </thead>
                {% for user in users %}
                <tr>
                    <td>{{ user.username }}</a></td>
                    <td>
                        {% if user.role == 'ROLE_ADMIN' %}
                            Admin
                        {% else %}
                            User
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('admin_user_edit', { 'id': user.id }) }}" class="btn btn-info btn-xs" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                        <button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#userDialog{{ user.id }}"><span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <div class="modal fade" id="userDialog{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">Attention</h4>
                                    </div>
                                    <div class="modal-body">
                                        Voulez vous réellement supprimer cet utilisateur ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                        <a href="{{ path('admin_user_delete', { 'id': user.id }) }}" class="btn btn-danger">Valider</a>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% else %}
        <div class="alert alert-warning">Pas d'utilisateur</div>
        {% endif %}
        <a href="{{ path('admin_user_add') }}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Ajouter utilisateur</button></a>
    </div>
</div>
{% endblock %}
