{% extends 'layout.html.twig' %}
{% form_theme articleForm 'bootstrap_3_horizontal_layout.html.twig' %}
{% set adminMenu = true %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h2 class="text-center">{{ block('title') }}</h2>
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
            <div class="well">
              {{ form_start(articleForm) }}
              <div class="form-group">
                <div class="col-sm-2 control-label">
                  <b>   Titre :  </b>
                </div>
                <div class="col-sm-8">
                  {{ form_errors(articleForm.title) }}
                  {{ form_widget(articleForm.title, { 'attr':  {
                  'class': 'form-control'
                  }}) }}
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-2 control-label">
                  <b>   Contenu :</b>
                </div>
                <div class="col-sm-8">
                  {{ form_errors(articleForm.content) }}
                  {{ form_widget(articleForm.content, { 'attr':  {
                  'class': 'form-control tinymce_form',
                  'rows': '8'
                  }}) }}
                </div>
              </div>

        <div class="form-group">
            <div class="col-sm-12">
                <input type="submit" class="btn btn-primary" value="Sauvegarder" />
            </div>
        </div>
        {{ form_end(articleForm) }}
    </div>
{% endblock %}