{% extends "layout.html.twig" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
<p>
    <h2>{{ article.title }}</h2>
    <p>{{ article.content |raw}}</p>
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <h3>Derniers commentaires</h3>
    {% if comments == false %}
        <p>Pas de commentaires pour l'instant.</p>
    {% else %}
    {% for firstcomment in comments %}
        {% if firstcomment.parents == NULL %}
    <div class="comment" id="firstcomment">
        <div class="comment-block">
            <p class = "commentText">{{ firstcomment.date}} </p><br>
		    <p class = "commentText"><strong>{{ firstcomment.author}}</strong> dit : </p><br>
		    <p class = "commentText">{{ firstcomment.content }} </p><br>
		    <p class="text-right">
                <button type="button" class="btn btn-info" title="Repondre" data-toggle="collapse" data-target="#commentRepondre{{ firstcomment.id }}">Repondre
                </button>
                <button type="button" class="btn btn-danger" title="Signal" data-toggle="modal" data-target="#commentDialogSignal{{ firstcomment.id }}">Signaler
                </button>
            </p>
        </div>
        <div class="modal fade" id="commentDialogSignal{{ firstcomment.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel"> Signalement</h4>
                    </div>
                    <div class="modal-body">
                        Voulez vous vraiment signaler ce commentaire ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                        <a href={{ path('comment_signal', { 'id': firstcomment.id } )  }}> <button type="button" class="btn btn-success"> Vailder </button>  </a>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal --><!-- /.modal -->
        <div class="panel-collapse collapse" id="commentRepondre{{ firstcomment.id }}">
            <h4 > Répondre au commentaire </h4>
            <form method="post" action="comment/{{ article.id }}/respond">
                <p> <b> Votre pseudo : </b> </p>
                <input name="authorMessage"  placeholder="pseudo" class="form-control" required>
                <p> <b> Votre commentaire : </b> </p>
                <input name="commentMessage" placeholder="commentaire"  class="form-control" required>
                <input type="hidden" name="articleID" value="{{article.id}}">
                <input type="hidden" name="commentaireParent" value="{{firstcomment.id}}">
                <!--  <div class="g-recaptcha" data-sitekey="YOUR_KEY_HERE"></div>-->
                <input type="submit" class="btn btn-primary" value="Envoyer">
            </form>
        </div>
    </div>

    {% for secondcomment in comments %}
            {% if secondcomment.parents == firstcomment.id %}
                <div class="comment" id="secondcomment">
                    <div class="comment-block">
                        <p class = "commentText">{{ secondcomment.date}} </p><br>
                        <p class = "commentText"><strong>{{ secondcomment.author}}</strong> dit : </p><br>
                        <p class = "commentText">{{ secondcomment.content }} </p><br>
                        <p class="text-right">
                            <button type="button" class="btn btn-info" title="Repondre" data-toggle="collapse" data-target="#commentRepondre{{ secondcomment.id }}">Repondre
                            </button>
                            <button type="button" class="btn btn-danger" title="Signal" data-toggle="modal" data-target="#commentDialogSignal{{ secondcomment.id }}">Signaler
                            </button>
                        </p>
                    </div>
                    <div class="modal fade" id="commentDialogSignal{{ secondcomment.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel"> Signalement</h4>
                                </div>
                                <div class="modal-body">
                                    Voulez vous vraiment signaler ce commentaire ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                    <a href={{ path('comment_signal', { 'id': secondcomment.id } )  }}> <button type="button" class="btn btn-success"> Vailder </button>  </a>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal --><!-- /.modal -->
                    <div class="panel-collapse collapse" id="commentRepondre{{ secondcomment.id }}">
                        <h4 > Répondre au commentaire </h4>
                        <form method="post" action="comment/{{ article.id }}/respond">
                            <p> <b> Votre pseudo : </b> </p>
                            <input name="authorMessage"  placeholder="pseudo" class="form-control" required>
                            <p> <b> Votre commentaire : </b> </p>
                            <input name="commentMessage" placeholder="commentaire"  class="form-control" required>
                            <input type="hidden" name="articleID" value="{{article.id}}">
                            <input type="hidden" name="commentaireParent" value="{{secondcomment.id}}">
                            <!--  <div class="g-recaptcha" data-sitekey="YOUR_KEY_HERE"></div>-->
                            <input type="submit" class="btn btn-primary" value="Envoyer">
                        </form>
                    </div>
                </div>
                {% for thirdcomment in comments %}
                    {% if thirdcomment.parents == secondcomment.id %}
                        <div class="comment" id="thirdcomment">
                            <div class="comment-block">
                                <p class = "commentText">{{ thirdcomment.date}} </p><br>
                                <p class = "commentText"><strong>{{ thirdcomment.author}}</strong> dit : </p><br>
                                <p class = "commentText">{{ thirdcomment.content }} </p><br>
                                <p class="text-right">
                                    <button type="button" class="btn btn-danger" title="Signal" data-toggle="modal" data-target="#commentDialogSignal{{ thirdcomment.id }}">Signaler
                                    </button>
                                </p>
                            </div>
                            <div class="modal fade" id="commentDialogSignal{{ thirdcomment.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel"> Signalement</h4>
                                        </div>
                                        <div class="modal-body">
                                            Voulez vous vraiment signaler ce commentaire ?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                            <a href={{ path('comment_signal', { 'id': thirdcomment.id } )  }}> <button type="button" class="btn btn-success"> Vailder </button>  </a>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- /.modal --><!-- /.modal -->
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
    {% endfor %}
            {% endif %}
    {% endfor %}
    {% endif %}
    <h3>Ajouter un commentaire</h3>
        {{ form_start(commentForm) }}
             <div class="form-group">
                {{ form_errors(commentForm.author) }}
                {{ form_widget(commentForm.author, { 'attr':  {
                    'class': 'form-control',
                    'placeholder': 'Ecrivez votre pseudo'
                }}) }}
             </div>
             <div class="form-group">
                {{ form_errors(commentForm.content) }}
                {{ form_widget(commentForm.content, { 'attr':  {
                    'rows': '4',
                    'class': 'form-control',
                    'placeholder': 'Ecrivez votre commentaire'
                }}) }}
             </div>
             <div class="form-group">
                {{ form_errors(commentForm.parents) }}
                {{ form_widget(commentForm.parents, { 'attr':  {
                    'class': 'form-control',
                }}) }}
             </div>
            <div class="form-group">
                <!--  <div class="g-recaptcha" data-sitekey="YOUR_KEY_HERE"></div>-->
                <input type="submit" class="btn btn-primary" value="Envoyer" />
            </div>
        {{ form_end(commentForm) }}

{% endblock %}
