{% extends "layout.html.twig" %}

{% block title %}Chapitre{% endblock %}

{% block content %}
    <h2>Les précedents chapitres</h2>
{% for article in articles %}
<article>
{# Using truncate(characters,preserve) #}
<h3><a class="articleTitle" href="{{ path('article', { 'id': article.id }) }}">{{ article.title }}</a></h3>
<p>{{ article.content |truncate(400, true) |raw }}</p>

</article>
{% endfor %}
{% endblock %}
