{% extends 'layout.html.twig' %}
{% set adminMenu = true %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h2 class="text-center">{{ block('title') }}</h2>
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <div class="well">
        {{ form_start(commentForm, { 'attr': {'class': 'form-horizontal'} }) }}
        <div class="form-group">
            {{ form_label(commentForm.author, null, { 'label_attr':  {
                'class': 'col-sm-2 control-label'
        }}) }}
        <div class="col-sm-8">
            {{ form_errors(commentForm.author) }}
            {{ form_widget(commentForm.author, { 'attr':  {
                'class': 'form-control',
                'rows': '4'
            }}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(commentForm.content, null, { 'label_attr':  {
            'class': 'col-sm-2 control-label'
        }}) }}
        <div class="col-sm-8">
            {{ form_errors(commentForm.content) }}
            {{ form_widget(commentForm.content, { 'attr':  {
                'class': 'form-control',
                'rows': '4'                
            }}) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-3">
            <input type="submit" class="btn btn-primary" value="Sauvegarder" />
        </div>
    </div>
{{ form_end(commentForm) }}
</div>
{% endblock %}
