{% extends "layout.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
{% for article in articles %}
<article>
	<h2>Le concept</h2>
	<p>Venez et parcourons enssembles cette aventure unique !<br/>
	Tout les vendredi soir à 20h je publierait un nouveau chapitre de mon dernier Roman et il sera directement disponible sur la page d'acceil !<br/>
	N'hésitez pas à faire part de vos impression avec vos commentaires ! </p>
	<h2>Dernier Billet :</h2>
    <h3><a class="articleTitle" href="{{ path('article', { 'id': article.id }) }}">{{ article.title }}</a></h3>
    <p>{{ article.content |raw }}</p>
</article>
{% endfor %}
{% endblock %}
