<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ asset('/lib/bootstrap/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('/css/microcms.css') }}" rel="stylesheet">
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=c2lbkzvxv1zqk2l6eq13hjxrcy8eomxszbtt0qdfg1bcff6v"></script>
	<!--<script type="text/javascript" src="{{asset('/lib/tinymce/tinymce.min.js')  }}"></script>-->
	<script type="text/javascript">
        tinymce.init({
            mode : "specific_textareas",
            editor_selector : /(tinymce_form)/,
            language_url : '/MicroCMS/web/lib/tinymce/langs/fr_FR.js',
            menubar: false,
            plugins: [
                "advlist autolink lists link image charmap print preview anchor",
                "searchreplace visualblocks code fullscreen",
                "insertdatetime media table contextmenu paste imagetools"
            ],
            toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
            // imagetools_cors_hosts: ['www.tinymce.com', 'codepen.io'],
            content_css: [
                '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
                '//www.tinymce.com/css/codepen.min.css'
            ]
        });
	</script>
    <script src="https://www.google.com/recaptcha/api.js?onload=CaptchaCallback&render=explicit" async defer></script>
    <script type="text/javascript">
        var CaptchaCallback = function() {
            $('.g-recaptcha').each(function(index, el) {
                grecaptcha.render(el, {'sitekey' : 'your_key'});
            });
        };
    </script>

    <title>Billet simple pour l'Alaska- {% block title %}{% endblock %}</title>
</head>
<body>
	<header class = "custom-header">
		<h1 class="main-title">Billet simple pour l'Alaska</h1>
		<img class = "img-responsive" src="/MicroCMS/media/alaska.jpg" alt="alaska">
		 <nav class="navbar  navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-target">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse-target">
					<ul class="nav navbar-nav navbar-left">
						<li><a href="{{ path('home') }}"><span class="glyphicon glyphicon-home"></span> Accueil</a></li>
						<li><a href="{{ path('chapter') }}"><span class="glyphicon glyphicon-list"></span> Chapitre</a></li>
					</ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="{% if adminMenu is defined %}active{% endif %}"><a href="{{ path('admin') }}"><span class="glyphicon glyphicon-cog"></span> Administration</a></li>
                        {% endif %}
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user"></span> Bienvenue, {% if app.user %} {{ app.user.username }} {% endif %} <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('logout') }}">Déconnection</a></li>
                                </ul>
                            </li>
                        {% else %}
                        {% endif %}
                    </ul>
                </div>
            </div><!-- /.container -->
        </nav>
	</header>
    <div class="container">
        <div id="content">{% block content %}{% endblock %}</div>
        <footer class="footer">
            <a href="">Mentions légales</a>
            {% if is_granted('ROLE_ADMIN') %}
            {% else %}
            <a> | </a>
            <a href="{{ path('login') }}"> Administration </a>
            {% endif %}
        </footer>
    </div>

    <!-- jQuery -->
    <script src="{{ asset('/lib/jquery/jquery.min.js') }}"></script>
    <!-- JavaScript Boostrap plugin -->
    <script src="{{ asset('/lib/bootstrap/js/bootstrap.min.js') }}"></script>

</body>
</html>
