
textarea.form-control {
	height: 300px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-family: 'Indie Flower', cursive;
	color:#337ab7;
}

.img-responsive {
	margin-left: auto;
	margin-right: auto
}

.delete {
	margin-right: 49px;
}

.comment {
	text-align: justify;
	border: 1px solid #ccc;
	margin-bottom: 10px;
}

.comment-block {
	padding: 20px;
}

#secondcomment {
	margin-left: 10%;
}

#thirdcomment {
	margin-left: 20%;
}

p.commentText {
	margin-left: 10px;
}

body,html{
    height: 100%;
	text-align: center;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto
  }

.footer {
    border-top: 1px solid #ccc;
    padding-top: 100px;
    text-align: center;
}

.articleTitle:hover, .articleTitle:focus {
    text-decoration: none;
}

.adminTable {
    margin-top: 20px;
    margin-bottom: 20px;
}

#errorPanel {
    padding-top: 30px;
    padding-bottom: 10px;
}
.navbar {
	margin-top : 10px;
}
